.theme {
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.theme svg path {
    fill: #222222;
}


.theme:hover {
	background-color: #222222;
	box-shadow: 0 0 0 rgba(0, 0, 0, 1);
}
.theme:hover svg path {
	fill: #fff;
}

.change__theme[data-theme="dark"] {
    display: none;
}

.change__theme[data-theme="light"] {
    display: block;
}